{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Bulletin Board{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'notes/style.css' %}">
</head>
<body>
  <header>
    <h1>
      Bulletin Board
    </h1>
    <hr>
  </header>
  <main>
    <!-- Specific page content goes here -->
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <hr>
    <p>Bulletin Board</p>
  </footer>
</body>
</html>
