{% extends 'notes/base.html' %}
{% block title %}{{ note.title }}{% endblock %}
{% block content %}
  <h2>{{ note.title }}</h2>
  <p><small>Posted on: {{ note.created_at }}</small></p>
  <hr>
  <div class="content">
    {{ note.content|linebreaks }}
  </div>
  <hr>
  <p>
    <a href="{% url 'note_update' pk=note.pk %}">Edit Note</a> |
    <a
      href="{% url 'note_delete' pk=note.pk %}"
      onclick="return confirm('Are you really sure you want to delete this?');"
    >
      Delete Note
    </a>
  </p>
  <p><a href="{% url 'note_list' %}">Back to Home</a></p>
{% endblock %}
